{% load staticfiles %}
<!DOCTYPE html>
<html lang= "pt-br">
	<head>
		<meta charset="UTF-8"/>
		<title>Video</title>
		<script type="text/javascript" src="../../static/Glossario/js/jquery.js"></script>
		<link rel="stylesheet" type="text/css" href="../../static/Glossario/css/materialize.css">
		<script type="text/javascript" src="../../static/Glossario/js/materialize.js"></script>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!--                                                      -->
		<link rel="stylesheet" type="text/css" href="../../static/Glossario/css/stilo-trabalho.css"/>	
		<script type="text/javascript" src="../../static/Glossario/js/functions.js"></script>
	</head>
   	<body>
   	<header> 
   	<nav class="teal darken-4">   
		<div class="nav-wrapper col 9">
			<a href="http://localhost:8000/" class="brand-logo center" src="../../static/Glossario/imagens/glossarioLibras.png" height="50" width="50" class="responsive-img center"></a>	
			 
			<ul id="nav-mobile" class="right hide-on-med-and-down">
		        <li><a href="http://localhost:8000/"> Home </a></li>
		        <li><a href="http://localhost:8000/conteudo-categorias-temas/"> Temas </a></li>
		        <li><a href="http://localhost:8000/conteudo-categorias-glossarios/"> Glossario </a></li>
		        <li><a href="#"> Quem Somos? </a></li>
		        <li><a href="">Mensagens</a></li>   
		    </ul>
			<form>
                <div class="left input-field" action="http://localhost:8000/resultado-pesquisa/">
                    <input  id="search" type="search" required>
                    <label  class="label-icon" for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                </div>
            
	            {%  if user.is_authenticated  %}
	    			<ul class="left hide-on-med-and-down">
	        			<li><a type="button"  id="MostrarEsconderMensagem">{{ perfil_logado.nome }} {{ perfil_logado.sobrenome }}<i class="material-icons left">person</i></a></li>
	        
	           		</ul>
	            {% else %}	
	            	<ul class="left hide-on-med-and-down">
	        			
	        			<li><a class="waves-effect waves-light btn" href="http://localhost:8000/Usuarios/login/">Fazer Login</a></li>
	            	</ul>
	            {% endif %} 
            </form>  		   	
   	  	</div>
  	</nav>

  		<div>
			<div id="Mensagem" style="display:none">	
 	 		<div class="seta"></div>
		
			<ul class="unidades4">
				<li><a class="titulo">{{ perfil_logado.nome }} {{ perfil_logado.sobrenome }}</a></li>
				<li><a class="subtitulo"> {{ perfil_logado.curso }}</a></li>
				<li><a class="subtitulo">{{ perfil_logado.universidade }}</a></li>
				<li><a class="subtitulo">------------------------------------------------</a></li>
				<li><a href="http://localhost:8000/Usuarios/minhas-postagens/" class="link-menor">Minhas Postagens</a>
				<a href="http://localhost:8000/Usuarios/logout/" class="waves-effect btn clarear-5 right">Sair</a></li>
			</ul>
		</div>

	
  	</header>


		<!--______________________________________________________________________________________-->

	<main>	
		{% block content %}
		{% endblock %}
		
	</main>
  	<!--__________________________________________________________________________________________-->
<!--        RODAPE DA PAGINA           --> 
		 	   			
	<footer>
		<div >
		{% block footer %}
		{% endblock %}
		<div >
		<footer class="page-footer  teal darken-4"  >
        <div class="col l12">
            <div class="container ">© 2018 Todos os direitos Reservados<a class="grey-text text-lighten-4 right" href="#!">Mais Links</a>
        </div>
        </div>
       </footer>
    </footer> 

            


  	</body>
 </html>