{% extends 'Glossario/base.html' %}	
 {% block content %}

<center>
   		<br></br>
   		<h1> TEMAS </h1>
   		<br></br>	


{% if lista_temas %}
    <ul>
      <div class="row container">	
        {% for tema in lista_temas  %}
                 
              <div class="col l3 ">
               		<li><a href="/conteudo-categorias-temas/{{ tema.id }}/" class= "waves-effect waves-light btn-large color #01579b" ><i class="btn-floating btn teal darken-2 center">{{ quantidade_sinais.tema }}</i> {{ tema.titulo }}</a></li> 
              </div>
        
          {% endfor %}
      </div>
    </ul>

{% else %}
    <p> Não existem temas cadastrados.</p>
         
{% endif %}
    
{% endblock %}
{% block footer %}
     <div class="footer">
      <div class="row" >      
        <div class="col s12 push-s1 right-align ">
          <button class="waves-effect waves-light btn color #01579b" type="submit" nome="voltar" onclick='history.go(-1)' >Voltar</button>
          <p></p>
          <a class ="link" href="/01/enviar-tema/ "/> Sugira um Tema!</a>
        </div>
      </div>  
    </div>
{% endblock %}