{% extends 'Glossario/base.html' %}	
 {% block content %}

<center>
   		<br></br>
   		<h1> GLOSSARIO </h1>
   		<br></br>	


{% if lista_glossarios %}
    <ul>
    <div class="row container">	
    {% for glossario in lista_glossarios %}
       <div class="col l3">
       		<li><a href="/conteudo-categorias-glossarios/{{ glossario.id }}/ " class="waves-effect waves-light btn-large color #01579b  center">{{ glossario.titulo }}</a></li>
   		</div>
    
    {% endfor %}
    </ul>
 
{% else %}
    <p> Não existem glossarios cadastrados.</p>
    <div class="row" >      
            <div class="col s12 center ">
              <button class="waves-effect waves-light btn" type="submit" nome="voltar" onclick='history.go(-1)' >Voltar</button>
            <p></p>
          <a class ="link" href="/pai/enviar-glossario/ "/> Sugira um glossario!</a>
        </div>
      </div>  
    </div>
{% endif %}
  

{% endblock %}
{% block footer %}

     <div class="footer">
      <div class="row" >      
        <div class="col s12 push-s1 right-align ">
          <button class="waves-effect waves-light btn color #01579b" type="submit" nome="voltar" onclick='history.go(-1)' >Voltar</button>
          <p></p>
          <a class ="link" href="/pai/enviar-glossario/ "/> Sugira um glossario!</a>
        </div>
      </div>  
    </div>
{% endblock %}