{% extends 'Glossario/base.html' %}	
 {% block content %}

<div class="row" >
			<div class="col l6 push-l3 ">

<h2> Envie um sinal para a glossario {{ glossario.titulo }}</h2>

{% if mensagem_erro %}<p><strong>{{ mensagem_erro }}</strong></p>{% endif %}


<form enctype="multipart/form-data" method="POST">
{% csrf_token %}
    {{ formulario.as_p }}
    <button class="waves-effect waves-light btn color #01579b" type="submit" nome="voltar" onclick='history.go(-1)' >Voltar</button>
    <button class="waves-effect waves-light btn color #01579b"  type="submit" name="enviar">Enviar</button>
</form>

	</div>
</div>	


{% endblock %}