<!DOCTYPE html>
<html lang= "pt-br">
	<head>
		<meta charset="UTF-8"/>
		<title>Video</title>
		<script type="text/javascript" src="js/jquery.js"></script>
		<link rel="stylesheet" type="text/css" href="css/materialize.css">
		<!--                                                      -->
		<link rel="stylesheet" type="text/css" href="css/stilo-trabalho.css"/>	
		<script type="text/javascript" src="js/function.js"></script>
	</head>
   	<body>
   			<nav class="teal darken-4">   
	<div class="nav-wrapper ">
	      
	      <a href="#" class="brand-logo center" id= "topo" >Glossario Libras</a>
	      <a href="#" data-activates="menu-mobile" class="button-collapse rigth">
	      <i class ="material-icons">menu</i>
	    </a>
	     	<ul id="nav-mobile" class="right hide-on-med-and-down">
	        <li  ><a href=""> Home </a></li>
	        <li class="active"><a href="file:///home/cleberton/Desktop/teste-pagina/index.trabalho.html"> Videos </a></li>
	        <li><a href=""> Letra Libra </a></li>
	        <li><a href="#"> Quem Somos? </a></li>
	        <li><a href=""> Contato</a></li>
	    </ul>
	    

	</div>
	</nav>
   		<!--________________________________________________________________________________________________________________________________-->
   		<center>
   		<br></br>
   		<h1> TODAS AS AREAS</h1>
   		<br></br>	
   			<a href="file:///home/cleberton/Desktop/teste-pagina/video1.html" class="waves-effect waves-light btn-large color #01579b ">Video area 1</a>
   			<br></br>
   			<br></br>
   			<a class="waves-effect waves-light btn-large color #01579b">Video area 2</a>
   		<br></br>
  		</center>
  	
<!--        RODAPE DA PAGINA           --> 
		    <br></br>
   			<br></br><br></br>
   			<br></br><br></br>
   			<br></br><br></br>
   			
   	
		    </div>	
		    <footer class="page-footer teal darken-4" >
		              <div class="col l12">
		              <div class="container ">© 2018 Todos os direitos Reservados<a class="grey-text text-lighten-4 right" href="#!">Mais Links</a>
		            </div>
		          </div>
		    </footer>
  	</body>
 </html>		

