{% extends 'Glossario/base.html' %}	
 {% block content %}

         
     
       <div id= "esquerda" class="center">
           <ul>
            <br></br>
            <br></br>
             <li><a href="/conteudo-categorias-glossarios/"><img id="glossario"  href="/conteudo-categorias-glossarios/" src="../../static/Glossario/imagens/glossario1.jpg" height="300" width="300" class="circle responsive-img"></a></li>
             <li><a href="/conteudo-categorias-glossarios/" class="texto_glossario">GLOSSARIO</a></li>
          </ul>
      </div>
    
      <div id= "linhacentral" class="center"></div>

         <a href="https://libras.ufsc.br"><img id="logo-centro" src="../../static/Glossario/imagens/ufsc.jpg" height="150" width="150" class="circle responsive-img center"></a> 		       
      
      <div id="direita" class="center"> 
           <ul>
              <br></br>
              <br></br>
             <li><a href="/conteudo-categorias-temas/" ><img id="pasta"  href="/conteudo-categorias-glossarios/" src="../../static/Glossario/imagens/pasta1.jpg" height="300" width="300" class="circle responsive-img"></a></li>
             <li><a href="/conteudo-categorias-temas/" class="texto_temas">TEMAS</a></li>
          </ul>
      </div>
    </div>

{% endblock %}

