	
{% extends 'Glossario/base.html' %}

 {% block content %}
	{% if lista_sinais %}
		<br></br>
		<div class="row">
		{% for sinal in lista_sinais %}
	 			
		 		<div class="col l4 ">
			     	    <video  width="320" height="240" controls>
	                		<source src="/static/Glossario/{{ sinal.arquivo_video }}" type="video/mp4">
	                	</video>
            			<li class ="titulo" >{{ sinal.titulo }}</li>
			            <a class ="subtitulo">{{ sinal.descricao }}</a>
	  			   
		 		</div>  

	 	{% endfor %}
		</div>
		{% else %}
		   <center> <p> Nao existem sinais cadastrados.</p> </center>
		{% endif %}
		<div class="footer">
			<div class="row" >	    
				<div class="col l3 push-l10 right-align ">
					<input class="waves-effect waves-light btn-large color #01579b" type="button" value='Voltar' onclick='history.go(-1)' /><br/>
					<a class ="link" href="/{{ categoria.id }}/enviar-sinal/ "/> Sugira um sinal para esta categoria!</a>
				</div>
			</div>	
		</div>
{% endblock %}