	
{% extends 'Glossario/base.html' %}

 {% block content %}	

<!-- AQUI MINEIRO! 
	O laço for em baixo dessa mensagem é responsável por mostrar na pagina todos os glossarios filhos, é só estilizar esse 'glossario.tittle' como voce quiser. Lembre que quando clicar nele tem que ir para o glossario 
	em questão. Use como exemplos outros botoes do projeto. Qualquer coisa só mandar mensagem. -->	
	<br></br>
</div>
  <div class="row container">
      	<div class="col s12">
   			<center><p2>Todos os videos de {{ tema.titulo }} </p2></center>
   			<br></br>
   		</div>	
       	<div class=" col s12 ">	
		{% for glossario in lista_glossarios_filhos %}
		    <a href="/Glossario/{{ glossario.id }}/" class="btn #01579b">{{ glossario.titulo }}</a>
 		{% endfor %}
      <label></label>	
   </div>
 </div>  
</div>

	<br></br>
	{% if lista_sinais %}
		<div class="row">
		{% for sinal in lista_sinais %}
		 		<div class="col l10 push-l1 ">
			     	<video  width="320" height="240" controls>
	                	<source src="/static/Glossario/{{ sinal.arquivo_video }}" type="video/mp4">
	                </video>
            			<li class ="titulo" >{{ sinal.titulo }}</li>
			            <a class ="subtitulo">{{ sinal.descricao }}</a>
		 		</div>  
		 </div> 		

	 	{% endfor %}	
		{% else %}
		   <center> <p> Nao existem sinais cadastrados.</p> </center>
		{% endif %}
		<div class="footer">
			<div class="row" >	    
				<div class="col s12 push-s1 right-align ">
					<button class="waves-effect waves-light btn color #01579b" type="submit" nome="voltar" onclick='history.go(-1)' >Voltar</button>
					<p></p>
					<a class ="link" href="/{{ glossario.id }}/enviar-sinal/ "/> Sugira um sinal para este glossario!</a>
				</div>
			</div>	
		</div>
{% endblock %}