	
{% extends 'Glossario/base.html' %}

 {% block content %}	

<!-- AQUI MINEIRO! 
	O laço for em baixo dessa mensagem é responsável por mostrar na pagina todos os glossarios filhos, é só estilizar esse 'glossario.tittle' como voce quiser. Lembre que quando clicar nele tem que ir para o glossario 
	em questão. Use como exemplos outros botoes do projeto. Qualquer coisa só mandar mensagem. -->	
	
  <div class="row  unidades2">
      	<div class="col s12">
   			<center><h1>{{ tema.titulo }}</h1></center>
   	   	</div>	
 		<br></br>		<br></br>		<br></br>
      	<div class=" col s12 ">	
			{% if lista_temas_filhos  %}
				{% for tema in lista_temas_filhos %}
					<a href="/conteudo-categorias-temas/{{ tema.id }}/" class="subtitulo btn blue-grey lighten-4">{{ tema.titulo }}</a>
				 {% endfor %}
				 {% else %}	
			 	   <center><p>{{ tema.titulo }} não a temas relacionados</p></center>
			{% endif %} 	   

      	<label></label>	
  		 </div>
	 </div>  


	{% if lista_sinais %}
		<center><h3>Sinais de {{ tema.titulo }} </h3></center>
			<div class="row">	
			{% for sinal in lista_sinais %}
			  
				  
				  	
					 		<div class="col l5 push-l1 unidades3 center">
						 		<ul>		 		
							     	<a class ="titulo left">{{ sinal.titulo }}</a>
							  	    <br></br>
							  	    <a class ="subtitulo left">{{ sinal.descricao }}</a>				     
							     	<br></br>
							     	<li><video   width="260"  controls><source class="center" src="/static/Glossario/{{ sinal.sinal_video }}" type="video/mp4"></video>
					   			    <video   width="260"  controls><source src="/static/Glossario/{{ sinal.conceito_video }}" type="video/mp4"></video>			    	       
					   			</ul>
				   			</div> 
						
				  	
				
		 	{% endfor %}	
		 </div>	

	{% else %}
		<center> <p>Nao existem videos cadastrados.</p> </center>
	{% endif %}

{% endblock %}
{% block footer %}
 		<div class="footer">
			<div class="row" >	    
				
				<div class="col s6  ">
					<br></br>
					<a class ="link" href="/{{ tema.id }}/enviar-tema/ "/> Sugira um tema para {{ tema.titulo }}!</a>
				</div>	

				<div class="col s6 push-s1  right-align">
					<button class="waves-effect waves-light btn color #01579b" type="submit" nome="voltar" onclick='history.go(-1)' >Voltar</button>
					<p></p>
					<a class ="link" href="/{{ tema.id }}/enviar-sinal/ "/> Sugira um sinal para {{ tema.titulo }}!</a>
				</div>
				
			</div>	
		</div>
{% endblock %}