{% extends 'Glossario/base.html' %}	
 {% block content %}
	{% if lista_sinais %}
		{%for sinal in lista_sinais %}
		   	    <br></br><br></br>
		   	 <div class="row conteiner" >
				<div class="grid-example col s3">
			        <ul>    
			            <li>
	                	 	<div class="video-container">
       							<iframe src="/static/Glossario/{{ sinal.arquivo_video }}" frameborder="100" allowfullscreen></iframe>
      					</li>
        				<a id = "topo" >{{ sinal.titulo }}</a>
			            <p>{{ sinal.descricao }}</p>
	  			    </ul>
		 		</div>  
			</div>
		    <br></br><br></br>
	<div class="col l2 push-l6 ">
		    {% endfor %}
		{% else %}
		   <center> <p> Nao existem sinais cadastrados.</p> </center>
		{% endif %}

		<input   class="waves-effect waves-light btn-large color #01579b" type="button" value='Voltar' onclick='history.go(-1)' />
		<br/>

		<p><a href="/{{ categoria.id }}/enviar-sinal/ "/> Sugira um sinal para esta categoria!</p>
	</div>
</div>	

{% endblock %}