{% extends 'Glossario/base.html' %}	
 {% block content %}
<br></br>
<div class="row container center unidades" >
	<div class="col l10 push-l1 ">
    <h3> Login </h3>
    <form method="POST">
    {% csrf_token %}
    {{ formulario.as_p }}
      	<button class="waves-effect waves-light btn color #01579b" type="submit" nome="voltar" onclick='history.go(-1)' >Voltar</button>
     		<button class="waves-effect waves-light btn color #01579b" value='Logar' type="submit" name="Logar">Logar</button>
     		<p></p>
        <a class ="link" href="http://localhost:8000/Usuarios/registrar-usuario/"/> Crie sua conta!</a>
   	</form>
    </div>
</div>


   {% endblock %}